@charset "utf-8";
/* CSS Document */

/*
* Header CSS code & notes
*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1920px) {
	header{
		width: 100%;
		height: 100%;
	}
}


div#navHeader{
    width: 100%;
	height: 100%;
}

/* For ul CSS component
	* position: fixed; top: 0; : Makes the navigation bar stay at the top of the page, even when the user scrolls.
	* position: fixed; bottom: 0; : Makes the navigation bar stay at the bottom of the page, even when the user scrols the page.
	* NOTE: Fixed postion might not work properly on mobile devices.
	* position: fixed;
	* top: 0; 
	* border: 1px solid #e7e7e7; & background-color: #f3f3f3; : Adds a gray horizontal navigation bar with a thin gray border.
	* position: -webkit-sticky; /* Safari */ /* position: sticky; top: 0; : A sticky element toggles between relative and fixed, depending *  on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place *  (like position:fixed).
*/
ul {
    position: fixed;
	top: 0; 
	margin: 0;
	padding: 0;
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #e7e7e7;
	background-color: #ababab;
	width: 100%;
}

/* Used for li CSS component
  * display: block; <--- Used to for testing out how the horizontal nav bar looks
  * display: inline; <--- Used to for testing out how the horizontal nav bar looks
*/
li  {
	height:100%;
	float: left;
	font-size: 18px;
}


/* Used for border-right CSS component 
	* background-color: #ababab Adds a gray right border to all list items, except the last item (last-child) 
*/
li a {
	display: block;
	padding: 15px 30px;
	color: #F9EFF1;
	text-align: center;
	text-decoration: none;
	background-color: #ababab;
	border-right: 2px solid #bbb;
	
	
}

li:first-child{
	padding-left: 0px;
}

li:last-child {
  border-right: none;
}

/* Used for background-color CSS component
	* Changes the link color to  #000000 (black) on hover
*/
li a:hover {
  background-color: #000000;
}

li a:hover:not(.active) {
  background-color: #000000;
}

/* 
	* The "active" class shows the current link to let the user know which page he/she is on .
*/
.active {
	background-color: #8d2663;

}

.videos, .resume, .about, .contact {

}

/* 
* Body CSS code and notes
*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1920px) {
	body{
		margin:0px;
		padding: 0px;	
	}
}
div#homeBody{
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-top: 30px;
    background-color: #2d2d2d;
    background-size: 100%;
    width: 100%;
    height: 1500px;
}

p#pAbout{
	padding-top: 100px;
	color: #F9EFF1;
}

/* 
* Footer CSS code and notes
*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1920px) {
	footer{
		width: 100%;
		height: 100%;
	}
}

div#div_footer {
	width: 100%;
	padding-top: 0px;
    padding-bottom: 0px;
}

.sect_footer{
	background-color: #ababab;
	height: 50px;
	margin: 0;
	padding: 0;
    position: fixed;
	bottom: 0;
	width: 100%;
}

.p_footer {
	text-align: center;
	background-color: #ababab;
	padding-bottom: 20px;
	font-size: 18px;
	
}

.home_footer {
	text-decoration: none;
	color: #F9EFF1;
	padding-left: 50px;
	padding-right: 50px;
}

.videos_footer{
	text-decoration: none;
	color: #F9EFF1;
	padding-left: 50px;

	padding-right: 50px;
}

.resume_footer{
	text-decoration: none;
	color: #F9EFF1;
	padding-left: 50px;
	padding-right: 50px;
}


.about_footer {
	text-decoration: none;
	color: #F9EFF1;
	padding-left: 50px;
	padding-right: 50px;
}

.contact_footer {
	text-decoration: none;
	color: #F9EFF1;
	padding-left: 50px;
	padding-right: 50px;
}